<footer class="footer">
    <div class="footer-column">
      <img width="70px" src="https://st2.depositphotos.com/4221849/8056/v/450/depositphotos_80567196-stock-illustration-red-circle-logo.jpg" alt="company logo"/>
      <span>&copy; 2024</span>
    </div>
    <div class="footer-column"><span style="font-weight: bold;">Version</span> 2.2.2</div>
    <div class="footer-column">
      <a style="font-weight: bold;" href="#">About</a>
      <a href="#">Contact Us</a>
      <a href="#">Privacy</a>
      <a href="#">Terms of Use</a>
    </div>
  </footer>