.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 20%;
  
    color: #333;
    font-size: 14px;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-column a {
    margin: 5px 0;
    color: #333;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }